@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Work Sans', sans-serif;
}
header{
    height: 10rem;
    padding: 0 4.8rem;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color:#e7f5ff;
}
.logo-img{
    height: 3rem;
}
.navbar-list{
    display: flex;
    gap:4.8rem;
    list-style: none;
}
.navbar-links:link,
.navbar-links:visited{
    font-size: 2rem;
    font-weight: 500;
    color:#212529;
    display: inline-block;
    text-transform:capitalize;
    text-decoration: none;
    transition: all 0.3s;
}
.navbar-links:active,
.navbar-links:hover{
    color: dodgerblue;
}